/* ----------------------------------------------------- NavBar ----------------------------------------------------- */
.responsive-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 10vh;
    width: 100%;
    background-color: #f4f4f4;
    z-index: 1000;
}



/* -------------------------------------------------- Page Content -------------------------------------------------- */
.responsive-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    zIndex : 1;
    overflow: auto;
}
.responsive-column_1 {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.responsive-column_2 {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------------- Page Risk --------------------------------------------------- */
.responsive-row_risk {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
}

.responsive-map_risk {
    width: 40%;
    height: 50%;
    margin-bottom: 20px;
}

.responsive-column_risk-1 {
    width: 60%;
    height: 50%;
}

.responsive-column_risk-2 {
    width: 33%;
    height: 50%;
}


/* --------------------------------------------------- Page Systems ------------------------------------------------- */
.responsive-row-map_systems {
    width: 100%;
    height: 50%;
}

.responsive-row-1_systems {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.responsive-container_systems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* --------------------------------------------------- Page Coverage ------------------------------------------------ */
.responsive-row_coverage {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
}

.responsive-item-1_coverage {
    width: 40%;
    height: 35%;
}

.responsive-map_coverage {
    width: 60%;
    height: 35%;
}

.responsive-item-2_coverage {
    width: 33.33%;
    height: 35%;
    padding: 5px;
}




/* Appliquer flex-direction: column sur les petits écrans */
@media screen and (max-width: 1000px) {

    .responsive-row_coverage,
    .responsive-row-1_systems,
    .responsive-row_risk,
    .responsive-container {
        flex-direction: column;
        height: auto;
    }

    .responsive-item-2_coverage,
    .responsive-map_coverage,
    .responsive-item-1_coverage,
    .responsive-map_risk,
    .responsive-column_risk-1,
    .responsive-column_risk-2,
    .responsive-map_risk,
    .responsive-column_1,
    .responsive-column_2 {
        width: 100%;
        height: 40%;
    }

}

